.*
!/.gitignore
!/.github/
!/.githooks/
*.o
*.bin
docker-compose.yml
Dockerfile
*~
*.wav
perf.*
target/
**/*.rs.bk
#*
Dockerfile.claude
build-docker-claude
run-docker-claude
PROJECT_STATE.md
target_docker
CLAUDE.md
quisk
*.pdf
*.txt
docs/release-review/
test_results
